body{
    width: 97%;
}
nav{
    padding:15px;
    background-color: white;
    margin-top: -0.4%;
    width: auto;
    height:auto;
    color:black;
    

}
nav > a:hover{
     border-bottom: 4px solid #ee2868;
     padding-bottom: 4px;
}
a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    /* color: white; */
    font-size: 20px;
    margin-bottom: 10px;
    color: #ee2868;
    font-weight: bold;

}
